.venv/*
.vscode/settings.json
log.txt
build/*
dxc
samples/test-harness/data/gltf/*
!samples/test-harness/data/gltf/cornell
!samples/test-harness/data/gltf/furnace
!samples/test-harness/data/gltf/multi-cornell
!samples/test-harness/data/gltf/sponza
!samples/test-harness/data/gltf/tunnel
!samples/test-harness/data/gltf/two-rooms

samples/test-harness/data/gltf/sponza/Sponza.cache
